// animation durations
// in order to set timings accross all the animation, every step is a variable (time, delay, iteration count)
// first step: "oh" is zooming down ("oh" is the loader's ::before)
$scale-down-typo-duration: 1000ms;

// second step: "ohmyfood" is revealing like a typing machine with a blinking cursor "!" ("!" is the loader's ::after)
$appearing-text-area-delay: $scale-down-typo-duration; // 1000ms
$writing-steps: 6;
$writing-duration: 800ms;
$writing-delay: $scale-down-typo-duration; // 1000ms

$blink-duration: 650ms; //value for 1 cycle through
$blink-iteration: 4;

// third step: some UI elements are fading in with a theme colour to represent the home page
$appearing-duration: 700ms;
$appearing-delay: calc($writing-delay + $writing-duration + 600ms); // 3700ms

// fourth step: everything is scrolling-up to match the revealed page layout
$moving-up-duration: 1000ms;
$moving-up-delay: calc($appearing-delay + $appearing-duration - 300ms); // 3900ms

// final step: everything disappears
$disappearing-duration: 600ms;
$disappearing-delay: calc($moving-up-delay + $moving-up-duration + 100ms); // 5000ms
$display-none-delay: calc($disappearing-duration + $disappearing-delay); // 5600ms

// animation keyframes
@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes writing {
    from {
        width: 40px;
    }
    to {
        width: 180px;
    }
}

@keyframes scale-down-typo {
    from {
        font-size: 4000px;
        opacity: 1;
    }
    to {
        font-size: 30px;
        opacity: 1;
    }
}

@keyframes appearing {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moving-up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc(-50vh + 29px));
    }
}

@keyframes moving-zero {
    from {
        transform: translateY(calc(50vh - 29px));
    }
    to {
        transform: translateY(0);
    }
}

@keyframes display-none {
    to {
        // z-index: -1;
        height: 0px;
    }
}

@keyframes prevent-scrolling {
    from {
        overflow: hidden;
    }
    to {
        overflow: auto;
    }
}


// animated elements
body.loading {
    animation: prevent-scrolling 1ms 3600ms backwards;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow: hidden;
    position: absolute;
    z-index: 110;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: $white-point;
    animation: appearing $disappearing-duration ease-out $disappearing-delay reverse forwards, display-none 1ms $display-none-delay forwards;
    color: $black-point;
    @include title-font();
    line-height: 1.9;

    &::after {
        content:"!";
        height: 1000vh;
        width: 100%;
        background-color: $white-point;
        position: absolute;
        top: 0;
        z-index: 110;
        animation: display-none 1ms $display-none-delay forwards;
    }

    &__typing{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        max-width: 100%;
        z-index: 120;
        animation: writing $writing-duration steps($writing-steps, jump-none) $writing-delay forwards, moving-up $moving-up-duration $moving-up-delay forwards, display-none 1ms $display-none-delay forwards;
    }

    &__zoom {
        opacity: 0;
        font-size: 4000px;
        z-index: 120;
        animation: scale-down-typo $scale-down-typo-duration ease-out backwards, display-none 1ms $display-none-delay forwards;
    }

    &__txt {
        font-size: 30px;
        position: absolute;
        left: 0;
        opacity: 1;
        padding-left: 14px;
        padding-right: 6px;
        z-index: 120;
        animation: appearing 1ms $appearing-text-area-delay backwards;
    }

    &__cursor {
        opacity: 0;
        font-size: 30px;
        z-index: 120;
        animation: blink $blink-duration steps(2, jump-none) $blink-iteration;
    }
}

.restaurants__card::after, .button__animated--loading::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:120;
    border-radius: inherit;
    transform: translateY(calc(50vh - 29px));
    animation: appearing $appearing-duration ease-out $appearing-delay both, moving-zero $moving-up-duration $moving-up-delay forwards, appearing $disappearing-duration ease-out $disappearing-delay reverse forwards, display-none 1ms $display-none-delay forwards;
}

.restaurants__card::after {
    background-color: $tertiary-color;
}

.button__animated::after {
    background: inherit;
}