// ##################### fonts #####################
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Shrikhand";
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Shrikhand-Regular.ttf);
}

// ###################### base
body {
    @include regular-font();
    font-size: $medium;
    color: $medium-gray-text;
    width: 100%;
    margin: 0;

    .sr-only {
        position: absolute;
        width: 1px;
        left: -1px;
        overflow: hidden;
    }

    section {
        padding: 48px 20px;

        @include bp-desktop() {
            padding: 50px 180px;
        }
    }

    h2 {
        font-weight: 700;
        font-size: $xlarge;
        margin: 0;
        color: $black-point;
    }

    h3 {
        font-weight: 700;
        font-size: large;
        margin: 0;
        color: $black-point;
    }

    p {
        margin: 0;
    }

    a {
        text-decoration: none;
    }
}

// ###################### main
main {
    //to fix flying footer
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 113px - 120px);
    align-items: center;
}
