@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Shrikhand';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Shrikhand-Regular.ttf);
}

/* dév test */
@font-face {
    font-family: 'Roboto';
    font-weight: 650;
    font-style: normal;
    src: url(../fonts/Shrikhand-Regular.ttf);
}