// ###################### restaurant hero
.restaurant-hero {
    padding: 0;
    width: 100%;
    height: 375px;

    & > img {
        width: 100%;
        height: 375px;
        object-fit: cover;
    }
}

// ###################### menu
.restaurant-menu {
    // width: calc(100% - 24px);
    width: 100%;
    background-color: $light-gray-background;
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
    // padding: 0 12px;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    @include bp-tablet() {
        max-width: 1055px;
    }
}

// ###################### menu title
.restaurant-menu__title {
    width: calc(100% - 24px);
    display: flex;
    align-items: first baseline;
    margin-top: 42px;
    padding: 0 12px 20px 12px;

    & > h1 {
        flex: 1;
        @include title-font();
        color: $black-point;
        font-size: $xxlarge;
        font-weight: 400;
        margin: 0 0 -20px 0;

        @include bp-tablet() {
            flex: 0 0 content;
        }
    }

    & > .like-fa {
        flex: 0 0 50px;

        @include bp-tablet() {
            flex: 0 0 content;
            margin-left: 24px;
        }
    }

    @include bp-tablet() {
        justify-content: center;
    }
}

// ###################### menu cards
.restaurant-menu__courses {
    width: calc(100% - 24px);
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
    padding: 0 12px 20px 12px;

    @for $i from 1 through 3 {
        &.animation-priority-#{$i} {
            animation: menu-appearing 600ms calc(250ms + ($i - 1) * 150ms) linear both;
        }
    }

    @include bp-tablet() {
        max-width: 630px;
    }
}

.restaurant-menu__category {
    & > h2 {
        color: $black-point;
        @include regular-font();
        font-weight: 300;
        font-size: $medium;
        line-height: 2;
        text-transform: uppercase;

        &::after {
            display: block;
            content: "";
            width: 40px;
            height: 3px;
            background-color: $tertiary-color;
        }
    }
}

.restaurant-menu__course {
    height: 40px;
    min-height: 40px;
    border-radius: 15px;
    padding: 15px;
    background-color: $white-point;
    @include card-shadow();
    overflow: hidden;
    display: flex;
    position: relative;

    & > .txt {
        flex: 1;
        color: $black-point;
        min-width: calc(100% - 100px);
        max-width: calc(100% - 30px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & > h3 {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: $large;
            font-weight: 500;
        }

        & > p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: $small;
            font-weight: 300;
        }
    }

    & > .price {
        align-self: flex-end;
        vertical-align: bottom;
        font-size: $small;
        color: $medium-gray-text;
        font-weight: 700;
        width: 30px;
        text-align: right;
    }

    &--action {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.button__animated {
    cursor: pointer;
    font-weight: 500;
    color: $white-point;
    background: $gradient-button;
    height: 50px;
    width: 200px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
    font-size: $medium;
    position: relative;

    margin-bottom: 40px;
}
