// ###################### header
.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__back {
        position: absolute;
        height: 63px;
        display: flex;
        align-items: center;
        top: 0px;
        left: 24px;
        z-index: 1000;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;
        width: 100%;
        box-shadow: 0px 2px 4px 0 #00000026;
        z-index: 100;

        img {
            width: 162px;
        }
    }

    &__localisation {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;
        
        background: $medium-gray-background;
        height: 50px;
        width: 100%;
        box-shadow: 0px 4px 4px 0 #00000026;
        z-index: 99;

        input, input::placeholder {
            display: inline;
            font-weight: 500;
            background: $medium-gray-background;
            border: none;
            color: $black-point;
            width: 120px;
            text-align: center;
            font-size: $medium;
        }

        img {
            width: 12px;
        }
    }
}
